*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #212121
}
.main-container{
  width: 800px;
  height: 800px;
  background: #5a5a5a5a;
  border: 3px solid grey;
  padding: 20px;
  display: flex;
  justify-content: space-between;
    border-radius: 5px;

}
.left-section{
  width: 350px;
  height: 300px;
  background: #2c2c2c;
  display: flex;
  flex-direction: column;
  padding: 20px;
  justify-content: space-between;
    border-radius: 5px;
    border: 1px solid black;

}
.right-section{
  width: 350px;
  height: 300px;
  background: #2c2c2c;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border: 1px solid black;
    border-radius: 5px;

    
}
.left-section-item{
  width: 100%;
  height: 25%;
  background: #131313;
    border-radius: 5px;

  
}
.right-section-item{
  width: 49%;
  height: 100%;
  background: #131313;
  border-radius: 5px;
  
}